@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
html {
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

body {
  background-color: #F1F1F1;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.title {
  font-size: 45px;
  font-weight: 300;
}

.subtitle{
 font-size: 32px;
 font-weight: 220;
}

.section-subtitle {
  font-size: 32px;
  font-weight: 220;
  padding-top: 20px;
  padding-bottom: 40px;
}

.container-fluid {

    margin-right:auto;
    margin-left:auto
 }

 .centerBlock {
   display: table;
   margin: auto;
 }

.profile {
  width: 300px;
  height: 400px;
}

.navbar {
  background-color: #F1F1F1;
}

.nav-centre {
  padding-top: 8px;
  padding-bottom: 8px;
}

.siteBtn {
  width: 100px !important;
  margin: 0 auto;
  text-align: center;
  font-weight: 450;
}

.centered {
  position: relative;
  top: 30vh;
}

.bgImage {
  position: relative;
  height: 100vh;
  width:  100%;
  text-align: center;
}

.section {
  /* height: 100vh; */
  padding-top: 20px;
  margin-bottom: 20px;
}

.spacer {
  padding: 40px;
}

hr {
  background-color: #232323;
  width: 40vw;
  text-align: center;
}

a {
  background-color: #F1F1F1;
  color: #232323;
  padding: 0.5em 1.0em;
  text-decoration: none;
  border: 1px solid #232323;
  border-color: #232323;
  border-radius: 5px;
  font-weight: 400;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
a:hover {
  background-color: #232323;
  text-decoration: none;
  color: #F1F1F1;
  cursor: pointer;
}

a:active {
  background-color: #F1F1F1;
}

.footer {
  text-align: center;
  font-size: 14px;
  color: #F1F1F1;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #232323;
}
