@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

body {
  background-color: #F1F1F1;
  font-family: 'Roboto Slab', serif !important;
  color: black;
}

.title {
  font-size: 45px;
  font-weight: 300;
}

.subtitle{
 font-size: 32px;
 font-weight: 220;
}

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }

.wrapper {
  text-align: center;
}

.navbar {
  background-color: #F1F1F1;
}

.siteBtn {
  width: 100px !important;
  margin: 0 auto;
  text-align: center;
  font-weight: 450;
}

.centered {
  position: relative;
  top: 30vh;
}

.bgImage {
  position: relative;
  height: 100vh;
  width:  100%;
  text-align: center;
}

hr {
  background-color: #232323;
  width: 40vw;
  text-align: center;
}

footer {
  font-size: 14px;
  text-align: right;
  padding-top: 40px;
  padding-bottom: 10px;
  padding-right: 5px;
}
